#wrapper {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: 50px auto 200px;
    grid-template-areas:
        "l-gutter t-gutter r-gutter"
        "l-gutter center r-gutter"
        "l-gutter buttons r-gutter";
}

#poem {
    height: 520px;
    width: 700px;
    border: 10px solid gray;
    border-radius: 50px;
    grid-area: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: black;
}

#controls {
    height: 100px;
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normalText {
    color: limegreen;
    font-size: x-large;
}

.crisisText {
    color: red;
    font-size: x-large;
}

body {
    background-color: burlywood;
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}

#start {
    margin-right: 1em;
}