.rubik-distressed-regular {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37);
}

#wrapper {
    display: grid;
    height: 95vh;
    margin: 2em auto;
    grid-template-columns: 90%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
        "header"
        "nav"
        "article"
        "picture1"
        "caption "
        "picture2"
        "aside"
        "picture3";
    justify-items: center;
}

@media only screen and (min-width: 760px) {
    #wrapper {
        display: grid;
        height: 95vh;
        margin: 2em auto;
        grid-template-columns: 45% 45%;
        max-width: 1000px;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "header   nav"
            "picture1 article"
            "caption  article"
            "picture2 article"
            "aside    picture3";
    }

    #caption,
    #pic1,
    #pic2 {
        display: flex;
        justify-self: right;
    }
}

header {
    grid-area: header;
    max-width: 90%;
    background-color: rgb(59, 53, 46);
    border: solid black 2px;
    text-align: center;
    padding: 1rem;
}

nav {
    grid-area: nav;
    max-width: 90%;
    background-color: rgb(59, 53, 46);
    border: solid black 2px;
    text-align: center;
    align-content: center;
    margin-top: 2rem;
    padding: .5em;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 1.25em;
    margin: 0em 1em
}

article {
    grid-area: article;
    margin-bottom: 2em;
    background-color: gray;
    margin-top: 1rem;
    padding: 1rem;
    border: 2px solid black;
}

#caption {
    grid-area: caption;
    max-width: 90%;
    padding: .5em 0em;
    justify-self: center;
    display: flex;
    background-color: gray;
    margin-top: 1rem;
    border: 2px solid black;
}

#caption p {
    margin: 0em 1em;
    padding: 0em 1em;
    font-size: .9em;
}

aside {
    grid-area: aside;
    background-color: gray;
    border: 2px solid black;
    margin-top: 1em;
    margin-bottom: 5em;
    margin-right: 1em;
    font-weight: bold;
    padding: 1em;
    height: 350px;
    max-width: 95%;
}

img {
    border: 2px solid black;
}

#pic1 {
    grid-area: picture1;
    justify-self: center;
    margin-top: 2em;
    margin-right: 2em;
    max-width: 95%;
}

#pic2 {
    grid-area: picture2;
    justify-self: center;
    margin-top: 1em;
    margin-right: 2em;
    max-width: 95%;
}

#pic3 {
    grid-area: picture3;
    margin-top: 1em;
    margin-bottom: 5em;
    max-width: 95%;
}

article h3 {
    color: rgb(0, 0, 0);
    font-size: 2em;
}

article h2 {
    font-size: 2.5em;
}

aside h2 {
    text-align: center;
}

a:link {
    color: rgb(0, 0, 65);
}

a:visited {
    color: rgb(15, 0, 23);
}

a:focus {
    color: rgb(0, 0, 65);
    background-color: gray;
}

a:hover {
    color: rgb(0, 0, 65);
    background-color: gray;
}

a:active {
    color: rgb(75, 0, 0);
    background-color: gray;
}