body {
    background-color: burlywood;
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}

#content h2 {
    width: 400px;
    text-align: center;
}

#wrapper {
    display: grid;
    height: 95vh;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "search content";
}

header {
    text-align: center;
    grid-area: header;
}

#searchWidgets {
    grid-area: search;
}

#content {
    grid-area: content;
    background-color: rgb(70, 166, 255);
    border: 2px solid black;
    border-radius: 50px;
}

#leftContent {
    margin-left: 1em;
}

#selectors {
    margin-left: 1em;
    display: flex;
}

#selectors div {
    padding-right: 1em;
}


#shinyBox {
    margin-left: 1em;
}

#moves {
    width: 400px;
    height: 200px;
    overflow: scroll;
    border: 2px solid black;
    background-color: white;
}

.move {
    text-align: center;
}

#sprite {
    background-color: beige;
    height: 300px;
    width: 300px;
    margin: 1em 0em 0em 1em;
    padding: .25em;
    border: 2px solid black;
    border-radius: 25px;
}