body {
    background-color: burlywood;
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}

#wrapper {
    display: grid;
    height: 95vh;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10vh auto;
    grid-template-areas:
        "header header"
        "search content";
}

header {
    text-align: center;
    grid-area: header;
}

#searchWidgets {
    grid-area: search;
}

#inner {
    width: 80%;
    margin: 0em 1rem;
    background-color: beige;
    padding: 1em 0em;
    border: 2px solid black;
    border-radius: 25px;
    justify-self: center;
}

#inner div, #inner h2, #inner h3{
    text-align: center;
}

#content {
    grid-area: content;
    background-color: rgb(70, 166, 255);
    border: 2px solid black;
    border-radius: 50px;
    height: 95%;
    display: grid;
    grid-template-columns: 325px auto;
    grid-template-rows: 162.5px 162.5px auto;
    grid-template-areas:
        "sprite top"
        "sprite tabs"
        "left   focus";
}

#sprite {
    grid-area: sprite;
    background-color: beige;
    height: 300px;
    width: 300px;
    margin: 1em 0em 0em 1em;
    padding: .25em;
    border: 2px solid black;
    border-radius: 25px;
}

#topContent {
    grid-area: top;
    margin: 1em;
    background-color: beige;
    padding: .25rem;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    align-content: center;
}

#leftContent {
    grid-area: left;
    margin-left: 1em;
}

#focus {
    grid-area: focus;
    margin: 2em;
}

#focus h2 {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 1rem 0rem 0.5rem;
    padding-right: 1rem;
    border-right: 2px solid black;
}

#number, #generation, #nickname {
    font-size: 2em;
}

#typeText {
    text-align: center;
    font-size: 1.5em;
}

#species {
    font-size: 3.5em;
}

#types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 1em;
}

#types img {
    margin: .25em 0em;
}

#selectors {
    margin-left: 1em;
    display: flex;
}

#selectors div {
    padding-right: 1em;
}


#shinyBox {
    margin-left: 1em;
}

#moves {
    height: 360px;
    overflow: scroll;
    border: 2px solid black;
    background-color: beige;
    border-radius: 25px;
}

.move {
    text-align: center;
    /*height: 100px;*/
}