header {
    text-align: center;
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}

#dropdowns {
    display: flex;
    flex-direction: row;
}

#moves {
    width: 400px;
    height: 200px;
    overflow: scroll;
    border: 2px solid black;
}

.move {
    text-align: center;
}

h2 {
    width: 400px;
    text-align: center;
}