body {
    background-color: moccasin;
}

header{
    text-align: center;
}

p#bio{
    box-sizing: content-box;
    width: 600px;
    padding: 2em;
    margin: 1em 2em;
    border: 5px solid black;
    font-size: x-large;
    background-color: whitesmoke;
    overflow: auto;
}

img#me{
    flex: 0 0 400px;
}

#container {
    justify-content: center;
    display: flex;
    height: 400px;
}